<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Varela+Round&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/timetable.css"></style>
    </head>
    <body>
        <div class="background"></div>

        <div class="notification-bar">
        </div>
        <div class="main">
            <div class="header">
                <img src="/static/images/logo.jpeg" style="width: 87px; height: 87px; border-radius:100px; margin-left: 20px"/>
                <a class="header-text">לו"ז הצריף</a>
            </div>
            <div class="table-wrap">
                <div class="table">
                    <div class="column">
                        <div class="cell headers" onclick="newLine(this)">ראשון</div>
                        {%for a in sunday%}
                            <div class="cell">{{markup(a)}}</div>
                        {%endfor%}
                    </div>
                    <div class="column">
                        <div class="cell headers" onclick="newLine(this)">שני</div>
                        {%for a in monday%}
                            <div class="cell">{{markup(a)}}</div>
                        {%endfor%}
                    </div>
                    <div class="column">
                        <div class="cell headers" onclick="newLine(this)">שלישי</div>
                        {%for a in tuesday%}
                            <div class="cell">{{markup(a)}}</div>
                        {%endfor%}
                    </div>
                    <div class="column">
                        <div class="cell headers" onclick="newLine(this)">רביעי</div>
                        {%for a in wednesday%}
                            <div class="cell">{{markup(a)}}</div>
                        {%endfor%}
                    </div>
                    <div class="column">
                        <div class="cell headers" onclick="newLine(this)">חמישי</div>
                        {%for a in thursday%}
                            <div class="cell">{{markup(a)}}</div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function newLine(element){
                var cell = document.createElement("div");

                cell.setAttribute("class", "cell");
                cell.setAttribute("contenteditable", "");
                cell.setAttribute("onfocusin", "notify(\"Ctrl + B - להדגיש\\nCtrl + U - קו תחתון \\n Ctrl + I - טקסט נטוי\");this.focus();")


                let newRemove = document.createElement("div");

                newRemove.setAttribute("class", "remove");
                newRemove.setAttribute("onclick", "this.parentElement.remove();notify(\"שורה נמחקה בהצלחה.\");");
                newRemove.setAttribute("contenteditable", "false");

                newRemove.innerText = "X";

                cell.innerText = "טקסט";
                cell.appendChild(newRemove);
                element.parentElement.appendChild(cell)
                
                notify("שורה חדשה נוצרה בהצלחה.");
            }
            
            function notify(text){
                var notificationBar = document.getElementsByClassName("notification-bar")[0];
                let newNotification = document.createElement("div");
                newNotification.classList.add("notification");
                newNotification.classList.add("appear");
                newNotification.innerText = text;
                setTimeout(function(){notificationBar.appendChild(newNotification);}, 10);
                setTimeout(function(){unNotifyElement(newNotification);}, 3000);

            }

            function unNotify(text){
                var notificationBar = document.getElementsByClassName("notification-bar")[0];
                var notifications = notificationBar.children;
                for(let i = 0; i < notifications.length;i++){
                    if(notifications[i].innerText == text){
                        notifications[i].classList.remove("appear");
                        notifications[i].classList.add("disappear");
                        setTimeout(function(){notifications[i].remove();}, 500);
                    }
                }
            }

            function unNotifyElement(d){
                d.classList.remove("appear");
                d.classList.add("disappear");
                setTimeout(function(){d.remove();}, 500);
            }
            var cells = document.getElementsByClassName("cell");

            for(let i = 0; i < cells.length;i++){
                if(!cells[i].classList.contains("headers")){
                    let newRemove = document.createElement("div");
                    newRemove.setAttribute("class", "remove");
                    newRemove.setAttribute("onclick", "this.parentElement.remove();notify(\"שורה נמחקה בהצלחה.\");");
                    newRemove.innerText = "X";
                    newRemove.setAttribute("contenteditable", "false");
                    cells[i].appendChild(newRemove);
                    cells[i].setAttribute("onfocusin", "notify(\"Ctrl + B - להדגיש\\nCtrl + U - קו תחתון \\n Ctrl + I - טקסט נטוי\");")
                }
            }
        </script>
    </body>
</html>